.containerTable{
    overflow-x: scroll;
    overflow-y: scroll;
    height: 750px;
    padding-left: 5px;
    width: 100%;
    margin: 100px 50px;
}



.containerTable::-webkit-scrollbar{
    width: 5px;
}

.containerTable::-webkit-scrollbar-thumb{
    background-color: rgb(62,83,160);
    border-radius: 50px;
}

.containerTable::-webkit-scrollbar-thumb:hover{
    background-color: rgb(62,83,160);
    border-radius: 50px;
}

.header{
    
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}


.subscriptionLink{
    text-decoration: none;
    color: white;
    background-color: rgb(34, 166,241);
    padding: 7px 40px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 4px;
}


.table{
    overflow-x: scroll;
    overflow-y: scroll;
}

.table::-webkit-scrollbar{
    width: 5px;
}

.table::-webkit-scrollbar-thumb{
    background-color: rgb(62,83,160);
    border-radius: 50px;
}

.table::-webkit-scrollbar-thumb:hover {
    background-color: rgb(62,83,160);
    border-radius: 50px;
}

@media (max-width:750px) {
    .header{
        margin-left: 20px;
    }
    .containerTable{
        margin-top: 50px;
    }
    
}

@media (max-width:768px) {
    .containerTable{
        margin: 50px 20px;
        width: auto;
  }
}